.home-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 0;
  margin-bottom: 0;
  width: 1920px;
  position: relative; 
  font-family: 'Muller', 'Arial', sans-serif;
  background-color: rgba(251, 253, 255, 1);
  width: 1920px;
}

.container{
  margin-left: 34px;
  width: 1910px;
  height: 954px;

}


.top-grid {
  display: grid;
  grid-template-columns: 924px 667px 220px;
  height: 252px;
  box-sizing: border-box;
  align-items:end;
  
}


.main-title {
  color: #092436;
  margin: 0;
  font-size: 76px;
}

.title-line {
  display: block;
  font-family: 'Muller', sans-serif;
  font-weight: 500;
  font-size: 120px;
}

.grid-text-right {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-direction: column;
  
}

.nursery-description {
  text-align: left;
  overflow: hidden;
  flex-direction: column;
  margin-bottom: 35px;
}

.description-text {
  font-size: 30px;
  color: #092436;
  margin: 0;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
}

.grid-button {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;
}

.select-cat-button {
  background-color: #2B6183;
  color: white;
  border: none;
  margin-left: 3px;
  font-size: 30px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  width: 278px;
  height: 54px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
}

.bottom-photo {
  margin-top: 100px;
  width: 1872px;
  height: 560px;
  overflow: hidden;
}

.cat-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}


.breed-uniqueness-section4 {
  position: relative;
  margin-top: 130px;
  width: 1872px;
  height: 560px;
  padding: 0;
  overflow: visible; 
  z-index: 2; 
}

.breed-background4 {
  margin-top: 210px;
  margin-right: 20px;
  position: absolute;
  top: -270px; 
  left: -270px; 
  width: calc(100% + 400px); 
  height: calc(100% + 400px); 
  overflow: visible; 
}
.snowflakeImage-photo {
  position: absolute;
  right: 150px;
  width: 970px;
  height: 970px;
  object-fit: cover;
  opacity: 1;
}
.top-grid4 {
  display: grid;
  grid-template-columns: 924px 667px 220px;
  height: 252px;
  box-sizing: border-box;
  align-items: end;
  position: relative;
}
.breed-container4 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 2;
}

.breed-title4 {
  font-size: 76px;
  font-family: 'Muller', sans-serif;
  font-weight: 500;
  color: #092436;
  margin: 0 0 40px 0;

}

.breed-grid4 {
  display: grid;
  grid-template-columns: 433px 433px 433px 433px;
  height: 433px;
  margin-top: 60px;
  gap: 50px;
  width: 1920px;
}

.breed-card4 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 15px;
  height: auto;
  background-color: rgba(216, 228, 235, 0.7);
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); 
  border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
}

.card-title4 {
  font-size: 38px;
  color: #092436;
  margin-left: 38px;
  margin-top: 38px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  
}

.card-content4 {
  margin-top: 0;

}
.card-content4 p {
  font-size: 30px;
  color: #092436;
  margin-left: 38px;
  margin-top: 100px;
  font-family: 'Muller', sans-serif;
  font-weight: 300;
  z-index: 2;
}
.main-goal-section {
  position: relative;
  z-index: 10;
  width: 1872px;
  border-radius: 20px;
  overflow: visible;
    margin-top: 100px;
}
.main-goal-section2 {
  position: relative;
  z-index: 10;
  width: 1872px;
  border-radius: 20px;
  overflow: visible;
  margin-top: 30px;
}

.main-goal-title{
  font-family: 'Muller', sans-serif;
  font-weight: 500;
  font-size: 76px;
  position: relative;
  z-index: 10;

}
.main-goal-text {
  max-width: 1200px;
  margin: 0 ;
}

.goal-paragraph {
  font-size: 30px;
  color: #092436;
  font-weight: 300;
  font-family: 'Muller', sans-serif;
  text-align: left;
  z-index: 2;
}

.card-title-column,
.card-content-column,
.card-title:before {
  display: none;
}


.our-cats-section {
  position: relative;
  width: 1920px;
  padding: 0;
  overflow: visible;
  z-index: 2; 
  margin-top: 70px;
}

.cat-background {
  margin-top: 50px;
  margin-right: 20px;
  position: absolute;
  top: -225px;
  right: 200px; 
  width: calc(100% + 400px); 
  height: calc(100% + 400px);
  overflow: visible; 
}

.snowflakeImage2-photo {
  position: absolute;
  right: 150px;
  width: 950px;
  height: 950px;
  object-fit: cover;
  opacity: 1;
}

.cat-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 2;
  margin-top: 30px;
}

.cat-title {
  font-size: 76px;
  font-family: 'Muller', sans-serif;
  font-weight: 500;
  color: #092436;
  margin: 0 ;

}

.cat-grid {
  display: grid;
  grid-template-columns: 586px 586px 586px;
  height: 500px;
  margin-top: 60px;
  gap: 53px;
  width: 1920px;
}

.cat-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  background-color: rgba(216, 228, 235, 0.7);
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); 
  border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
  
}

.card-title {
  font-size: 38px;
  color: #092436;
  margin-left: 38px;
  margin-top: 38px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  
}

.card-content2 {
    margin: 30px 40px;
    width: 507px;
    height: 432px;
    overflow: hidden;
}
.card-content2 p {
  font-size: 30px;
  color: #092436;
  margin-left: 38px;
  margin-top: 100px;
  font-family: 'Muller', sans-serif;
  font-weight: 300;
  z-index: 2;
}

.buttons-section-container {
  width: 100%;
  max-width: 1872px;
  height: auto;
  box-sizing: border-box;
  padding: 0;
  z-index: 2;
  margin-top: 30px;
}

.buttons-section-grid {
  display: grid;
  grid-template-columns: repeat(3, 586px); 
  margin-top: 15px;
  gap: 50px;
  width: fit-content;

}

.buttons-block {
  display: flex;
  flex-direction: row;
  gap: 1px;
  justify-content: space-between;
  align-items: center;
  padding: 0; 
  background: transparent;
  border-radius: 0; 
  border: none;
  min-height: 54px; 
  width: 586px;
}


.learn-more-button,
.favorites-button {
  flex: 1;
  height: 54px;
  width: 300px;
  border: none;
  font-size: 30px; 
  border-radius: 7px;
  font-family: 'Muller', sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}


.learn-more-button {
  background-color: rgba(216, 228, 235, 0.7);
  color: #2B6183;
  margin-right: 10px; 
}


.favorites-button {
  background-color: #2B6183;
  color: white;
  margin-left: 10px; 
}
.flower {
  margin-top: 50px;
  margin-right: 20px;
  position: absolute;
  top: -180px; 
  right: -217px;
  width: calc(100% + 400px); 
  height: calc(100% + 400px);
  overflow: visible; 
}

.flowerImage-photo {
  position: absolute;
  margin-bottom: 20;
  right: 150px; 
  width: 420px;
  height: 690px;
  opacity: 1;
}
