.footer {
  margin-top: 40px;
  width: 1970px;
  height: 730px;
  font-family: 'Muller', 'Arial', sans-serif;
  position: relative; 
   overflow: hidden;
}


.footer-container {
 position: relative; 
  max-width: 2000px;
  min-height: 600px;
  margin-top: 130px;
  background-color: rgba(216, 228, 235, 0.7);
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); 
  border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
}

.footer-content {
  display: grid;
  grid-template-columns: 220px 461px;
  grid-template-rows: auto;
  gap: 50px;
  margin-left: 53px;
  align-items: start;
  justify-content: start;
  z-index: 3;
}

.footer-title{
  display: block;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 76px;
  margin-left: 53px;
  z-index: 3;
  padding-top: 40px;
}

.footer-left {
  width: 220px;
  grid-column: 1 / 2;
  z-index: 3;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 18px;

}

.footer-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 30px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  transition: opacity 0.2s;
  display: block;
  padding: 3px 0;
  font-weight: 400;
}


.footer-right {
  width: 461px;
  grid-column: 2 / 3;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
  width: 100%;
  align-items: flex-start;
}

.social-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 30px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  transition: opacity 0.2s;
  padding: 3px 0;
  font-weight: 400;
}

.social-link:hover {
  opacity: 0.7;
}

.privacy-link {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  margin-top: 110px;
}

.breed-background3 {
  position: absolute;
  top: -120px; 
  left: 15px; 
  width: 100%; 
  height: 100%; 
  z-index: 1;
}
.snowflakeImage-photo3 {
  position: absolute;
  right: 150px; 
  width: 856px;
  height: 729px;
  object-fit: cover;
  opacity: 1;
  z-index: 1;
  transform: scale(1.3)
}
.flower2 {
  position: absolute;
  top: 315px; 
  right: 500px;
  width: 500px; 
  height: 300px; 
  overflow: visible;
  z-index: 10; 
}

.flowerImage-photo2 {
  position: absolute;
  width: 650px;
  height: 450px;
  object-fit: contain; 
  opacity: 1;
  z-index: 10;
}

