.cats-page {
    max-width: 1920px;
    margin: 0;
    margin-top: 60px;
    font-family: 'Muller', sans-serif;
    background-color: rgba(251, 253, 255, 1);
}

/* Заголовок */
.cats-header {
    margin-bottom: 50px;
}

.cats-header h1 {
    font-size: 120px;
    font-weight: 500;
    color: #2C3E50;
    margin: 0;
}
