#root {
  background-color: rgba(251, 253, 255, 1);
  width: 1920px;
}
.container {
  flex: 1; 
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto; 
}
@font-face {
  font-family: 'Muller';
  src: url('./fonts/Muller-Trial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muller';
  src: url('./fonts/MullerMuller-Trial-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muller';
  src: url('./fonts/Muller-Trial-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}