.about-container{
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    overflow:  visible;
    gap: 0;
    margin-bottom: 0px;
    width: 1920px;
    position: relative; 
    font-family: 'Muller', 'Arial', sans-serif;
    background-color: rgba(251, 253, 255, 1);
}
.about-nursery-section {
  position: relative;
  z-index: 10;
  width: 1872px;
  border-radius: 20px;
  overflow: visible;
  margin: 0;
  line-height: 1;
}

.breed-title1 {
  font-size: 76px;
  font-family: 'Muller', sans-serif;
  font-weight: 500;
  color: #092436;
  margin: 0 0 40px 0;

}
.about-nursery-title{
  font-family: 'Muller', sans-serif;
  font-weight: 500;
  font-size: 120px;
  position: relative;
  z-index: 10;
  
}
.about-nursery-text {
  max-width: 740px;
  max-height: 563;
  margin: 0 ;
  line-height: 1;
}
.nursery-paragraph b {
  font-size: 40px;
}

.nursery-paragraph {
  font-size: 30px;
  color: #092436;
  font-weight: 300;
  font-family: 'Muller', sans-serif;
  text-align: left;
  z-index: 2;
  margin: o;
}



.catImage4 {
  margin-top: 50px;
  margin-right: 20px;
  position: absolute;
  top: 280px; 
  right: -217px; 
  width: calc(100% + 400px);
  height: calc(100% + 400px); 
  overflow: visible; 
}

.catImage-photo4 {
  position: absolute;
  right: 200px; 
  width: 1080px;
  height: 575px;
  opacity: 1;
}

.breed-uniqueness-section1 {
  position: relative;
  margin-top: 130px;
  width: 1872px;
  height: 735px;
  padding: 0;
  overflow: hidden;
  overflow: visible; 
  z-index: 2; 
}

.two-grids-section {
  padding: 80px 0;
}


.grids-wrapper {
  display: grid;
  grid-template-columns: 790px 1049px;
  max-height: 610px;
  gap: 30px;
  align-items: stretch;
  position: relative;
}


.image-grid {
  position: relative;
}

.catImage5 {
  position: relative;
  overflow: hidden;
  border-radius: 11px;
}

.catImage-photo5 {
  width: 100%;
  height: 610px;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}


.content-grid {
  display: grid;
  grid-template-rows: 143px, 173px, 143px; 
  gap: 30px; 
  height: 100%;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-item {
  height: 143px;
  gap: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: auto;
  background-color: rgba(216, 228, 235, 0.7);
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); 
  border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
}

.feature-number {
  font-size: 60px;
  color: #092436;
  font-weight: 300;
  font-family: 'Muller', sans-serif;
  opacity: 0.3;
  line-height: 1;
  min-width: 70px;
}

.feature-content {
  flex: 1;
}


.feature-description {
  font-size: 30px;
  color: #092436;
  font-weight: 300;
  font-family: 'Muller', sans-serif;
  margin: 38px;
}
.feature-description b{
    font-size: 40px;
}
.flower3 {
  margin-top: 50px;
  margin-right: 20px;
  position: absolute;
  top: -250px; 
  right: -217px; 
  width: calc(100% + 400px); 
  height: calc(100% + 400px); 
  overflow: visible; 
}

.flowerImage-photo3 {
  position: absolute;
  margin-bottom: 20;
  right: 150px;
  width: 420px;
  height: 700px;
  opacity: 1;
}

.acquaintance-section {
  position: relative;
  z-index: 10;
  width: 1872px;
  border-radius: 20px;
  overflow: visible;
  margin-top: 100px;
}


.acquaintance-title{
  font-family: 'Muller', sans-serif;
  font-weight: 500;
  font-size: 76px;
  position: relative;
  z-index: 10;

}
.acquaintance-text {
  max-width: 810px;
  margin: 0 ;
  float: right;
}
.acquaintance-paragraph {
  font-size: 30px;
  color: #092436;
  font-weight: 300;
  font-family: 'Muller', sans-serif;
  text-align: left;
  z-index: 2;
}

.acquaintance-paragraph b{
  font-size: 40px;
}

.snowflake4 {
  margin-top: 50px;
  margin-right: 20px;
  position: absolute;
  top: 100px; 
  right: 800px; 
  width: calc(100% + 400px); 
  height: calc(100% + 400px); 
  overflow: visible; 
}

.snowflakeImage-photo4 {
  position: absolute;
  margin-bottom: 20;
  right: 150px; 
  width: 852px;
  height: 750px;
  opacity: 1;
}